<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('build/images/staticmap.png');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contacter moi</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <form action="https://formspree.io/your@email.com" method="POST">
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                        <input class="form-control" type="text" name="nom" placeholder="Nom" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                                        <input class="form-control" type="text" name="sujet" placeholder="Sujet" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                        <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" placeholder="Votre Message" required="required"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Envoyer</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        {% if information.adresse is not null %}
                                            <p class="mb-0"><strong>Address </strong></p>
                                            <p class="pb-2">{{ information.adresse }}</p>
                                        {% endif %}

                                        {% if information.email is not null %}
                                            <p class="mb-0"><strong>Email</strong></p>
                                            <p>{{ information.email }}</p>
                                        {% endif %}

                                        {% if information.telephone is not null %}
                                            <p class="mb-0"><strong>Téléphone</strong></p>
                                            <p class="pb-2">{{ information.telephone }}</p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
