<div class="section" id="formation">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Formation</div>
        {% for formation in information.formations %}
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <div class="h5">{{ formation.dateDebut|date('Y') }} - {{ formation.dateFin|date('Y') }}</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <p class="category">{{ formation.lieu }}</p>
                            <p style="font-size: 25px;"><b>{{ formation.nom }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
