<div class="section" id="logiciels">
    <div class="container">
        <div class="h4 text-center mb-4 title">Logiciels connus</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    {% for logiciel in information.logiciels %}
                        <div class="col-md-6">
                            <div class="progress-container progress-primary"><span class="progress-badge">{{ logiciel.nom }}</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ logiciel.pourcentage }}%;"></div><span class="progress-value">{{ logiciel.pourcentage }}%</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
