<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-4 title">Compétences</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    bla bla bla
                </div>
            </div>
        </div>
    </div>
</div>
