{% extends "layout.html.twig" %}

{% block contenu %}

    <div>
        {% include 'default/section/profile.html.twig' %}

        {% include 'default/section/about.html.twig' %}

        {% include 'default/section/skill.html.twig' %}

        {% include 'default/section/portfolio.html.twig' %}

        {% include 'default/section/experience.html.twig' %}

        {% include 'default/section/formation.html.twig' %}

        {% include 'default/section/reference.html.twig' %}

        {% include 'default/section/contact.html.twig' %}

    </div>

{% endblock %}