<footer>
    <div class="container text-center">
        <a class="cc-google-plus btn btn-link" href="https://fr.linkedin.com/in/mariane-erard-3611b210b"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="h4 title text-center">{{ information.prenom|capitalize }} {{ information.nom|upper }}</div>
    <div class="text-center text-muted">
        <p>&copy; CV. Tout droits réservés.</p>
    </div>
</footer>